* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--accent-color);
    color:black;
}

.logo {
    grid-column: 1/2;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
nav a{
    padding: 20px;
    margin: 10px;
    color: black;
    text-decoration: none;
    flex-wrap: nowrap;
}

footer nav a {
    justify-content: flex-end;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--primary-color);
}

main {
   background-color: var(--primary-color);
}

:root {
    --primary-color: rgb(177, 196, 255);
    --text-color: rgb(34, 21, 91);
    --accent-color: rgb(255, 225, 0);
}

div {
    position: relative;
    background-color: white;
    border: 4px var(--accent-color);
}

.hero {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: var(--primary-color);
}

.hero article{
    grid-column: 2/7;
    grid-row: 2/6;
    background-color: rgb(10, 10, 81);
    color: aliceblue;
    border: 5px var(--accent-color);
}

.hero article p {
    grid-column: 2/5;
    font-size: larger;
}

.hero img {
    grid-column: 1/8;
    grid-row: 1/8;
    width: 100%;
    padding: 0 auto;

}

.hero h1{
    grid-column: 1/8;
    grid-row: 1/2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(10, 10, 81);
    color: aliceblue;
}

.hero article img {
    grid-column: 5/7;
    grid-row: 5/7;
    width: 100%;
    height: auto;
}

header, main, footer{
    width: 100%;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    width: 100%;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    color: var(--text-color);
}

.hero article img {
    float: right;
    position: absolute;
    width: 125px;
    margin-left: 20px;
    margin-right: 10px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.socialmedia img {
    max-width: 50px;
}

.socialmedia a { 
    text-decoration: none;
    justify-content: flex-end;
}