* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(177, 196, 255);
    --text-color: rgb(34, 21, 91);
    --accent-color: rgb(255, 225, 0);
}

.hero {
    position: relative;
}

.hero article{
    position: absolute;

}

.hero h1{
    position: absolute
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

header, main, footer{
    width: 100%;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    position: absolute;
    width: 100%;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    background-color: white;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 20px;
    margin-right: 10px;
}

.socialmedia a { 
    text-decoration: none;
}
