.hero img {
    display: block;
    width: 100%;
    height: auto;
}

header, main, footer{
    width: 100%;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    position: absolute;
    width: 100%;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    background-color: rgb(124, 95, 255);
    color: rgb(200, 204, 255);
    font-family: 'Courier New', Courier, monospace;
}

.hero article image {
    float: right;
    width: 125;
    margin-left: 20px;
    margin-right: 10px;
}

.socialmedia a{
    text-decoration: none;
}
