* {
    padding: 20px;
    margin: 10px;
    max-width: 50%;
    align-content: center;
}

body {
    background-color: azure;
    color: rgb(5, 51, 51);
    align-self: center;
    align-items: center;
    text-align: center;
}

main{
    max-width: 90%;
}

title {
    font-size: 3em;
    width: 100%;
    padding: 20px;
    margin: 0px
}

p {
    padding: 10rem;
    width: 90%;
}

.bio {
    margin: 20px;
}

nav {
    background-color: rgb(2, 43, 78);
    padding: 10px;}
nav a {
    color: white;
    padding: 10px;
    display: block;
    }


h1 {
    background-color: rgb(27, 85, 85);
    padding: 30px
}

main img {
    width: 200px;
    float: right;
    height: auto;
    border: 5px solid rgb(6, 66, 66);
    margin: 10px;
    box-shadow: -16px 14px 13px -5px rgba(4, 4, 4, 0.492);
}

aside {
    width: 50%;
    padding: 10px;
    border: 5px solid rgb(96, 109, 119);
    background-color: rgb(55, 72, 84);
    color: white;

}
aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 10px solid rgb(2, 43, 78);
    text-align: center;
}
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(50, 73, 99);
}